body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top-navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.top-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.top-navbar li {
    float: left;
}

.top-navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top-navbar li a:hover {
    background-color: #111;
}

.side-navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 48px; /* Same as the height of the top navbar */
    left: 0;
    background-color: #333;
    padding-top: 20px;
    z-index: 0;
}

.side-navbar ul {
    list-style-type: none;
    padding: 0;
}

.side-navbar li {
    padding: 8px;
    text-align: left;
}

.side-navbar li a {
    display: block;
    color: white;
    text-decoration: none;
}

.side-navbar li a:hover {
    background-color: #575757;
}

.main-content {
    margin-left: 220px; /* Same as the width of the side navbar */
    margin-top: 48px; /* Same as the height of the top navbar */
    padding: 20px;
}
